/*
    General Styles
*/
i{
    color: white;
    text-align: center;
}

body {
    background-image: url(https://www.desktop-background.com/download/o/2010/08/02/57899_black-wood-wallpapers-high-quality_1920x1080_h.jpg);
    padding: 20px;
}


nav {
    opacity: 0.8;
}

.jumbotron {
    opacity: 0.8;
}

footer {
    color: white;
    text-align: center;
}

.card {
    opacity: 0.8;
}